!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
.apt_generated
.apt_generated_test/
.apt_generated/
.autotools
.buildpath
.cache-main
.classpath
.cproject
.externalToolBuilders/
.factorypath
.idea
.loadpath
.project
.metadata
.mvn/wrapper/maven-wrapper.jar
.recommenders
.recommenders/
.scala_dependencies
.settings
.settings/
.springBeans
.sts4-cache
.sts4-cache/
.target
.tern-project
.texlipse
.vscode/
.worksheet
*.bak
*.iml
*.ipr
*.iws
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
bin/
build/
HELP.md
local.properties
target/
tmp/